.container {
  width: 10rem;
  background-color: rgba(1, 5, 24, 0.89);
  border-right: 1px solid grey;
  height: calc(100vh - 4rem);
  color: white;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
}
.container p {
  padding: 0.5rem;
  margin-left: 0.2rem;
  height: 3rem;
  margin-bottom: 0.8rem;
  display: flex;

  align-items: center;
}
.container p span {
  margin-left: 0.4rem;
}
@media screen and (max-width: 720px) {
  .container {
    width: 3rem;
  }
  .container p span {
    display: none;
  }
}
